@Scripts.Render("~/Scripts/Land/LandMapView/LandMapSummary.js")

<div class="panel panel-default bs-example">
    <div class="well well-sm">
        Land Map Summary
    </div>
    <div class="panel-body">
        <div class="spacer4"></div>
        <div id="grdLandMapSummary"></div>
    </div>
</div>




