
@{
    ViewBag.Title = "Loan Return Receive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Scripts/INVENTORY/LoanRtnRcvInfo/LoanRtnRcvSettings.js")

<div class="row">
    <div id="divSummary" class="col-lg-12">
        @Html.Partial("../INVENTORY/LoanRtnRcvInfo/_LoanRtnRcvSummary")
    </div>
    <div id="divDetails" class="col-lg-12 displayNone">
        @Html.Partial("../INVENTORY/LoanRtnRcvInfo/_LoanRtnRcvDetails")
    </div>
</div>
