@{ string jsVer = @System.Configuration.ConfigurationManager.AppSettings["JSVer"];}
@Scripts.Render("~/Scripts/MERCHN/PurDemand/PurDemandSummary.js?" + @jsVer)

<div class="panel panel-default bs-example">
    <div class="well well-sm">
        Demand Summary
    </div>
    <div class="panel-body">
        <button class="k-button" id="btnAddNew"><span class="fa fa-plus"></span> Add New</button>
        <div class="spacer5"></div>
        <div id="grdDemandSummary"></div>
    </div>
</div>

