@Scripts.Render("~/Scripts/INVENTORY/ConsignmentInfo/ConsignmentSummary.js")

<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="bs-example">
            <div class="well well-sm">
                CONSIGNMENT SUMMARY
            </div>
            <div class="panel-body">
                <button class="k-button" id="btnAddNew"><span class="fa fa-plus"></span> Add New</button>
                <div id="grdConsignmentSummary">
                </div>
            </div>
        </div>
    </div>
</div>
