@Scripts.Render("~/Scripts/MERCHN/Color/ColorSummary.js")
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="bs-example">
            <div class="well well-sm">
                Color Information
            </div>
            <div class="panel-body">
                <div id="grdColorSummary">
                </div>
            </div>
        </div>
    </div>
</div>
