@Scripts.Render("~/Scripts/MERCHN/CmnBank/CmnBankSummary.js")
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="bs-example">
            <div class="well well-sm">
                Bank Information
            </div>
            <div class="panel-body">
                <div id="grdBankSummary">
                </div>
            </div>
        </div>
    </div>
</div>
