@Scripts.Render("~/Scripts/FileManager/FileManagerDetails.js")
<div class="col-md-12 col-xs-12 bs-example">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div id="filemanager"></div>
        </div>
    </div>
</div>