@{
    ViewBag.Title = "ComGroupLc Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Scripts/MERCHN/ComGroupLc/ComGroupLcSettings.js")
<div class="row">
    <div id="divComGroupLcDetails" class="col-md-12">
        @Html.Partial("../MERCHN/ComGroupLc/_ComGroupLcDetails")
        @Html.Partial("../MERCHN/ComGroupLc/_ComGroupLcSummary")
    </div>
</div>


