@{ string jsVer = @System.Configuration.ConfigurationManager.AppSettings["JSVer"];}
@Scripts.Render("~/Scripts/MERCHN/BuyerCosting/BuyerCostingAcknowledgement/BuyerAckCostingSummary.js?" + @jsVer)

<div class="panel panel-default bs-example">
    <div class="well well-sm">
       Buyer Costing Summary
    </div>
    <div class="panel-body">
        <button class="k-button" id="btnAddNew" style="display: none"><span class="fa fa-plus"></span> Add New</button>
        <div id="grdBuyerCostingSummary">
        </div>
    </div>
</div>

