
@{ string jsVer = @System.Configuration.ConfigurationManager.AppSettings["JSVer"];}
@Scripts.Render("~/Scripts/MERCHN/BuyerCosting/BuyerCostingAcknowledgement/FabricAckEmbellishment.js?" + @jsVer)

<div class="panel-body">
    <div class="spacer5"></div>
    <div id="grdFabricEmbSummary">
    </div>
    <div class="spacer5"></div>
</div>
