@Scripts.Render("~/Scripts/Land/LandInfoView/LandInfoViewSummary.js")

<div class="panel panel-default bs-example">
    <div class="well well-sm">
        Land Information Summary
    </div>
    <div class="panel-body">
        <div id="grdLandMasterViewSummary"></div>
    </div>
</div>