@Scripts.Render("~/Scripts/MERCHN/PurSupplierItem/PurSupplierItemSummary.js")

<div class="panel panel-default bs-example">
    <div class="well well-sm">
        Supplier Summary
    </div>
    <div class="panel-body">
        <div id="grdSupplierSummary">
        </div>
    </div>
</div>
