
@Scripts.Render("~/Scripts/LEGAL/Jurisdiction/JurisdictionSummary.js")
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="bs-example">
            <div class="well well-sm">
                Jurisdiction Information
            </div>
            <div class="panel-body">
                <div id="grdJurisdictionSummary">
                </div>
            </div>
        </div>
    </div>
</div>

