@Scripts.Render("~/Scripts/INVENTORY/LoanIssueReceiveInfo/LoanIssueReceiveSummary.js")

<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="bs-example">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <ul id="pnlMasterInfo">
                            <li class="k-state-active">
                                LOAN ISSUE PENDING LIST FOR RECEIVE
                                <div>
                                    <div id="grdPendingLoanIssueList"></div>
                                </div>
                            </li>
                            <br />
                            <li class="k-state-active">
                                LOAN RECEIVE SUMMARY
                                <div>
                                    <div class="spacer5"></div>
                                    <div id="grdLoanReveiveSummary"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>