@Scripts.Render("~/Scripts/INVENTORY/InventoryQC/PIListSearch.js")

<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="bs-example">
            <div class="panel-body">
                <div id="grdPISummary">
                </div>
            </div>
        </div>
    </div>
</div>
