
@Scripts.Render("~/Scripts/LEGAL/Case_Type/CaseTypeSummary.js")
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="bs-example">
            <div class="well well-sm">
                Case Type Information
            </div>
            <div class="panel-body">
                <div id="grdCaseTypeSummary">
                </div>
            </div>
        </div>
    </div>
</div>
