

@Scripts.Render("~/Scripts/TRANSPORT/VehicleBrand/VehicleBrandSummary.js")
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="bs-example">
            <div class="well well-sm">
                Vehicle Brand Info
            </div>
            <div class="panel-body">
                <div id="grdBrandSummary">
                </div>
            </div>
        </div>
    </div>
</div>


