@Scripts.Render("~/Scripts/MERCHN/MerchItemCategory/MerchItemCategorySummary.js")
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="bs-example">
            <div class="well well-sm">
                MerchItem Category Information
            </div>
            <div class="panel-body">
                <div id="grdItemCategorySummary">
                </div>
            </div>
        </div>
    </div>
</div>



