@Scripts.Render("~/Scripts/MERCHN/MerchProductType/ProductTypeSummary.js")
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="bs-example">
            <div class="well well-sm">
                Product Type Information
            </div>
            <div class="panel-body">
                <div id="grdProductTypeSummary">
                </div>
            </div>
        </div>
    </div>
</div>


