
@{
    ViewBag.Title = "Loan Return";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Scripts/INVENTORY/LoanReturnInfo/LoanReturnSettings.js")

<div class="row">
    <div id="divSummary" class="col-lg-12">
        @Html.Partial("../INVENTORY/LoanReturnInfo/_LoanReturnSummary")
    </div>
    <div id="divDetails" class="col-lg-12 displayNone">
        @Html.Partial("../INVENTORY/LoanReturnInfo/_LoanReturnDetails")
    </div>
</div>


<div class="displayNone" id="popupStyleSearch">
    @Html.Partial("../INVENTORY/LoanReturnInfo/_StyleListSearch")
</div>
