@Scripts.Render("~/Scripts/MERCHN/MerchProductCategory/MerchProductCategorySummary.js")
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="bs-example">
            <div class="well well-sm">
                Product Category Information
            </div>
            <div class="panel-body">
                <div id="grdProductCategorySummary">
                </div>
            </div>
        </div>
    </div>
</div>
