@{
    ViewBag.Title = "Item Category Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Scripts/MERCHN/MerchProductCategory/MerchProductCategorySettings.js")
<div class="row">
    <div id="divMerchProductCategory" class="col-md-12">
        @Html.Partial("../MERCHN/MerchProductCategory/_MerchProductCategoryDetails")
        @Html.Partial("../MERCHN/MerchProductCategory/_MerchProductCategorySummary")
    </div>
</div>
