
@Scripts.Render("~/Scripts/TRANSPORT/Insurance/InsuranceSummary.js")
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="bs-example">
            <div class="well well-sm">
                Insurance Summary
            </div>
            <div class="panel-body">
                <div id="grdInsuranceSummary">
                </div>
            </div>
        </div>
    </div>
</div>




