@Scripts.Render("~/Scripts/Land/FileLocation/FileLocationSummary.js")

<div class="panel panel-default bs-example">
    <div class="well well-sm">
        File Location Summary
    </div>
    <div class="panel-body">
        <button class="k-button" id="btnAddNew"><span class="fa fa-plus"></span>Add New</button>
        <div class="spacer4"></div>
        <div id="grdFileLocationMasterSummary"></div>
    </div>
</div>



