@{
    ViewBag.Title = "Floor Requisition";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Scripts/INVENTORY/FloorRequisition/FloorRequisitionSettings.js")

<div class="row">
    <div id="divFloorRequisitionSummary" class="col-lg-12">
        @Html.Partial("../INVENTORY/FloorRequisition/_FloorRequisitionSummary")
    </div>
    <div id="divFloorRequisitionDetails" class="col-lg-12 displayNone">
        @Html.Partial("../INVENTORY/FloorRequisition/_FloorRequisitionDetails")
    </div>
</div>

<div class="displayNone" id="popupStyleSearch">
    @Html.Partial("../INVENTORY/FloorRequisition/_StyleListSearch")
</div>

