
@{
    ViewBag.Title = "Sample Issue Receive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Scripts/INVENTORY/SampleIssueReceiveInfo/SampleIssueReceiveSettings.js")

<div class="row">
    <div id="divSummary" class="col-lg-12">
        @Html.Partial("../INVENTORY/SampleIssueReceiveInfo/_SampleIssueReceiveSummary")
    </div>
    <div id="divDetails" class="col-lg-12 displayNone">
        @Html.Partial("../INVENTORY/SampleIssueReceiveInfo/_SampleIssueReceiveDetails")
    </div>
</div>
