
@{
    ViewBag.Title = "Store Issue Receive";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Scripts/INVENTORY/StoreIssueReceiveInfo/StoreIssueReceiveSettings.js")

<div class="row">
    <div id="divSummary" class="col-lg-12">
        @Html.Partial("../INVENTORY/StoreIssueReceiveInfo/_StoreIssueReceiveSummary")
    </div>
    <div id="divDetails" class="col-lg-12 displayNone">
        @Html.Partial("../INVENTORY/StoreIssueReceiveInfo/_StoreIssueReceiveDetails")
    </div>
</div>
