
@{
    ViewBag.Title = "Profile Report (Factory)";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Scripts/HRM/Reports/EmployeeProfileReport/FactoryProfileSettings.js")

<div class="well well-sm">Employee Profile Report (Factory)</div>
@Html.Partial("../Report/EmployeeProfileReport/EmployeeProfileReport")