@{
    ViewBag.Title = "PO Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{ string jsVer = @System.Configuration.ConfigurationManager.AppSettings["JSVer"];}
@Scripts.Render("~/Scripts/MERCHN/POInfo/POInfoSettings.js?" + @jsVer)

<div class="row">
    <div id="divPODetails" class="col-lg-12 displayNone">
        @Html.Partial("../MERCHN/POInfo/_PODetails")
    </div>
    <div id="divPOSummary" class="col-lg-12">
        @Html.Partial("../MERCHN/POInfo/_POSummary")
    </div>
</div>

