@Scripts.Render("~/Scripts/COMMERCIAL/ComUDInfo/UDSummary.js")

<div id="divUDModal" style="display:none;">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="bs-example">
                        <div class="well well-sm">
                            UD List
                        </div>
                        <div class="panel-body">
                            <div id="grdUDSummary">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <button id="btnclose" class="btn btn-danger" style="float:right;margin-right:10px;margin-top:10px;">Close</button>
        </div>
    </div>
</div>

