@Scripts.Render("~/Scripts/INVENTORY/LoanRequisition/StyleListSearch.js")

<style>
    .search {
        width: 30%;
        /*left: 35%;*/
        position: relative;
        display: flex;
    }

    .searchTerm {
        width: 100%;
        border: 3px solid #00B4CC;
        border-right: none;
        padding: 10px;
        height: 20px;
        border-radius: 5px 0 0 5px;
        outline: none;
        color: #9DBFAF;
    }

        .searchTerm:focus {
            color: #00B4CC;
        }

    .searchButton {
        width: 40px;
        height: 26px;
        border: 1px solid #00B4CC;
        background: #00B4CC;
        text-align: center;
        color: #fff;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        font-size: 20px;
    }
</style>

<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="bs-example">
            <div class="panel-body">
                <div class="displayNone">
                    <div class="search">
                        <input type="text" id='txtsearch' class="searchTerm" autocomplete="off" autofocus placeholder="Type what are you looking for?">
                        <button type="submit" class="searchButton">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
                <div class="spacer5"></div>
                <div id="grdStyleSummary"></div>
            </div>
        </div>
    </div>
</div>
