@Scripts.Render("~/Scripts/COMMERCIAL/ComSalesContract/ContractSummary.js")

<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="bs-example">
            <div class="well well-sm">
                Sales Contract Summary
            </div>
            <div class="panel-body">
                <div id="grdScContactSummary">
                </div>
            </div>
        </div>
    </div>
</div>

