
@Scripts.Render("~/Scripts/TRANSPORT/DriverPerformance/DriverPerformanceSummary.js")
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="bs-example">
            <div class="well well-sm">
                Driver Performance
            </div>
            <div class="panel-body">
                <div id="grdDriverPerformanceSummary">
                </div>
            </div>
        </div>
    </div>
</div>



