
@Scripts.Render("~/Scripts/LEGAL/Expenses/ExpensesSummary.js")

<div class="panel panel-default bs-example">
    <div class="well well-sm">
        Expenses Information
    </div>
    <div class="panel-body">
        @*<button class="k-button" id="btnAddNew"><span class="fa fa-plus"></span> Add New</button>*@
        <div class="spacer4"></div>
        <div id="grdExpenseSummary">
        </div>
    </div>
</div>

