@{
    ViewBag.Title = "User Store Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Scripts/INVENTORY/UserWiseStore/UserWiseSettings.js")

<div class="row">
    <div id="divUserSummary" class="col-md-6">
        @Html.Partial("../INVENTORY/UserWiseStore/UserWiseStoreSummary")
    </div>
    <div id="divUserDetails" class="col-md-6">
        @Html.Partial("../INVENTORY/UserWiseStore/UserWiseStoreDetails")
    </div>
</div>
