@Scripts.Render("~/Scripts/INVENTORY/ConsignmentRcvInfo/ConsignmentRcvSummary.js")

<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="bs-example">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <ul id="pnlMasterInfo1">
                            <li class="k-state-active">
                                CONSIGNMENT PENDING LIST WAITING FOR RECEIVE
                                <div>
                                    <div id="grdPendingConsignmentList"></div>
                                </div>
                            </li>
                            <br />
                            <li class="k-state-active">
                                CONSIGNMENT RECEIVED SUMMARY
                                <div>
                                    <div class="spacer5"></div>
                                    <div id="grdConsignmentRcvSummary"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>