

@Scripts.Render("~/Scripts/Core/User/ReportPermission.js")

<div class="bs-example">
    <div class="row">
        <div class="col-md-12">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-2 control-label" for="cmbMenuName">Menu:</label>
                    <div class="col-md-6">
                        <input type="text"style="width: 100%; height: 28px;" name="module" id="cmbMenuName" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" value="0" id="hdnUserId" />

    <div id="gridReportPermission">
    </div>

</div>