
@{
    ViewBag.Title = "Sub Contract Issue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Scripts/INVENTORY/SubContractIssue/SubContractIssueSettings.js")

<div class="row">
    <div id="divSummary" class="col-lg-12">
        @Html.Partial("../INVENTORY/SubContractIssue/_SubContractIssueSummary")
    </div>
    <div id="divDetails" class="col-lg-12 displayNone">
        @Html.Partial("../INVENTORY/SubContractIssue/_SubContractIssueDetails")
    </div>
</div>

<div class="displayNone" id="popupStyleSearch">
    @Html.Partial("../INVENTORY/SubContractIssue/_StyleListSearch")
</div>
