@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/FlatUI/flatui.css" rel="stylesheet" />

@{ string jsVer = @System.Configuration.ConfigurationManager.AppSettings["JSVer"];}
<script src="~/Scripts/MERCHN/Style/Search/SearchSettings.js"></script>
<style>
    .row{
        margin-left : 0px;
    }
    </style>

<div class="row" style="margin-left:auto">
    <div id="divSearchSummary" class="col-md-12">
        @Html.Partial("../MERCHN/Style/Search/_GlobalSearchSummary")
    </div>
    <div id="divSearchDetails" class="col-md-12 displayNone">
        @Html.Partial("../MERCHN/Style/Search/_GlobalSearchDetails")
    </div>

</div>