
<script src="~/Scripts/TRANSPORT/Vehicle_Allocation/VehicleAllocationSummary.js"></script>

<div class="panel panel-default bs-example">
    <div class="well well-sm">
        Vehicle Allocation Summary
    </div>
    <div class="panel-body">
        <button class="k-button" id="btnAddNew"><span class="fa fa-plus"></span> Add New</button>
        <div class="spacer4"></div>
        <div id="grdAllocationSummary">
        </div>
    </div>
</div>

