<div class="row">
    <div class="col-md-4">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-4 col-xs-4 control-label" for="txtComment">Comments:</label>
                <div class="col-md-7 col-xs-7 ">
                    <textarea id="txtComment" name="txtComment" type="text" placeholder="Rejection comments" style="height: 60px; width: 60%; text-align: left;" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group centerAlign">
                
                <button type="button" class="btn btn-success" id="btnApprove">Approve</button>
                <button type="button" class="btn btn-danger" id="btnReject">Reject</button>
               
            </div>

        </div>
    </div>
</div>