<div class="row">
    <div class="col-md-4">
        <input type="hidden" class="hiddenId" id="hdnStyleId" />
        <input type="hidden" class="hiddenId" id="hdnStyleDetailId" />
        <input type="hidden" class="hiddenId" id="hdnCreateDate" />
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-4 col-xs-4 control-label" for="cboStatus">Status:</label>
                <div class="col-md-7 col-xs-7 " hidden>
                    <select id="cboStatus" class="comboBox" name="cboStatus"></select>
                </div>
                <div class="col-md-7 col-xs-7 ">
                    <label class="form-control" style="width: 60%; height: 28px;text-align: left;" id="lblStatus"></label>

                </div>
                <div class="form-group">
                    <label class="col-md-4 col-xs-4 control-label" for="cboDepartment">Dept:</label>
                    <div class="col-md-7 col-xs-7 " hidden>
                        <select id="cboDepartment" class="comboBox" name="cboDepartment"></select>
                    </div>
                    <div class="col-md-7 col-xs-7 ">
                        <label class="form-control" style="width: 60%; height: 28px;text-align: left;" id="lblDepartment"></label>

                    </div>

                </div>
                <div class="form-group">
                    <label class="col-md-4 col-xs-4 control-label" for="cboProductCategory">Prod Cat.:</label>
                    <div class="col-md-7 col-xs-7 " hidden>
                        <select id="cboProductCategory" class="comboBox" name="cboProductCategory"></select>
                    </div>
                    <div class="col-md-7 col-xs-7 ">
                        <label class="form-control" style="width: 60%; height: 28px;text-align: left;" id="lblProductCategory"></label>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 col-xs-4 control-label" for="cboAgent">Agent:</label>
                    <div class="col-md-7 col-xs-7 " hidden>
                        <select id="cboAgent" class="comboBox" name="cboAgent"></select>
                    </div>
                    <div class="col-md-7 col-xs-7 ">
                        <label class="form-control" style="width: 60%; height: 28px;text-align: left;" id="lblAgent"></label>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 col-xs-4 control-label" for="cboSeason">Season:</label>
                    <div class="col-md-7 col-xs-7 " hidden>
                        <select id="cboSeason" class="comboBox" name="cboSeason"></select>
                    </div>
                    <div class="col-md-7 col-xs-7 ">
                        <label class="form-control" style="width: 60%; height: 28px;text-align: left;" id="lblSeason"></label>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 col-xs-4 control-label" for="txtRemarks">Remarks:</label>
                    <div class="col-md-7 col-xs-7 ">
                        <label id="txtRemarks" name="txtRemarks" type="text" placeholder="Remarks" style="height: 60px; width: 60%; text-align: left;" class="form-control"></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="col-md-4">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-4 col-xs-4 control-label" for="cboBuyer">Buyer:</label>
                    <div class="col-md-7 col-xs-7 " hidden>
                        <select id="cboBuyer" class="comboBox" name="cboBuyer"></select>
                    </div>
                    <div class="col-md-7 col-xs-7 ">
                        <label class="form-control" style="width: 60%; height: 28px;text-align: left;" id="lblBuyer"></label>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 col-xs-4 control-label" for="txtStyleNo">Style:</label>
                    <div class="col-md-7 col-xs-7 ">
                        <label id="txtStyleNo" name="txtStyleNo" style="width: 60%; height: 28px;text-align: left;" autocomplete="off" type="text" placeholder="Style No*" class="form-control"></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 col-xs-4 control-label" for="cboProduct">Product:</label>
                    <div class="col-md-7 col-xs-7 " hidden>
                        <select id="cboProduct" name="cboProduct" class="comboBox"></select>
                    </div>
                    <div class="col-md-7 col-xs-7 ">
                        <label class="form-control" style="width: 60%; height: 28px;text-align: left;" id="lblProduct"></label>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 col-xs-4 control-label" for="cboVendor">Vendor:</label>
                    <div class="col-md-7 col-xs-7 " hidden>
                        <select id="cboVendor" name="cboVendor" class="comboBox"></select>
                    </div>
                    <div class="col-md-7 col-xs-7 ">
                        <label class="form-control" style="width: 60%; height: 28px;text-align: left;" id="lblVendor"></label>

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 col-xs-4 control-label" for="cboYear">Year:</label>
                    <div class="col-md-7 col-xs-7 " hidden>
                        <select id="cboYear" name="cboYear" class="comboBox"></select>
                    </div>
                    <div class="col-md-7 col-xs-7 ">
                        <label class="form-control" style="width: 60%; height: 28px;text-align: left;" id="lblYear"></label>

                    </div>
                </div>
                <div class="form-group" id="DocumentFileUpload">
                    <label class="col-md-4 col-xs-4 control-label">Attachment:</label>
                    <div class="col-md-7 col-xs-7 " id="divFileUpload">
                        <input class="form-control custom-file-input" id="txtFiles" type="file" style="width: 60%; height: 28px;text-align: left;" docType="02dca355-0dbf-4115-a11b-39d0ec9e25af">
                    </div>
                </div>
            </div>
    </div>
        <div class="col-md-4">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-4 col-xs-4 control-label" for="cboBrand">Brand:</label>
                <div class="col-md-7 col-xs-7 " hidden>
                    <select id="cboBrand" class="comboBox" name="cboBrand"></select>
                </div>
                <div class="col-md-7 col-xs-7 ">
                    <label class="form-control" style="width: 70%; height: 28px;text-align: left;" id="lblBrand"></label>

                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 col-xs-4 control-label" for="txtProtoNo">Proto:</label>
                <div class="col-md-7 col-xs-7 ">
                    <label id="txtProtoNo" name="txtProtoNo" style="width: 70%; height: 28px;text-align: left;" type="text" placeholder="Proto No*" class="form-control"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 col-xs-4 control-label" for="cboProductType">Prod Type:</label>
                <div class="col-md-7 col-xs-7 " hidden>
                    <select id="cboProductType" name="cboProductType" class="comboBox"></select>
                </div>
                <div class="col-md-7 col-xs-7 ">
                    <label class="form-control" style="width: 70%; height: 28px;text-align: left;" id="lblProductType"></label>

                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 col-xs-4 control-label" for="txtInstructions">Instructions:</label>
                <div class="col-md-7 col-xs-7 ">
                    <label id="txtInstructions" type="text" style="width: 70%; height: 28px;text-align: left;" name="txtInstructions" placeholder="Instructions" class="form-control"></label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 col-xs-4 control-label" for="cboCompany">Production Factory:</label>
                <div class="col-md-7 col-xs-7 "hidden>
                    <select id="cboCompany" name="cboCompany" class="comboBox"></select>
                </div>
                <div class="col-md-7 col-xs-7 ">
                    <label class="form-control" style="width: 70%; height: 28px;text-align: left;" id="lblCompany"></label>

                </div>
            </div>
        </div>
    </div>
    
</div>