@Scripts.Render("~/Scripts/TRANSPORT/VehicleRequisition/VehicleRequisitionSummary.js")
<div class="panel panel-default bs-example">
    <div class="well well-sm">
        Vehicle Requisition Summary
    </div>
    <div class="panel-body">
        <button class="k-button" id="btnAddNew"><span class="fa fa-plus"></span> Add New</button>
        <div class="spacer4"></div>
        <div id="grdVehicleRequisition">
        </div>
    </div>
</div>
