
@Scripts.Render("~/Scripts/LEGAL/Matter_Info/MatterInfoSummary.js")
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="bs-example">
            <div class="well well-sm">
                Matter Information
            </div>
            <div class="panel-body">
                <div id="grdMatterInfoSummary">
                </div>
            </div>
        </div>
    </div>
</div>


