
@Scripts.Render("~/Scripts/Common/Login/ForgotPassword.js")

<div class="row" id="divForgotPass">
    <div class="col-md-12 col-xs-12">
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-4 col-xs-4 control-label" for="txtEmpId">Employee ID:</label>
                <div class="col-md-5 col-xs-5">
                    <input type="text" class="k-textbox" style="height: 28px; width: 100%;" name="txtEmpId" id="txtEmpId" required/>
                    <span>e.g.: 001234</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 col-xs-4 control-label" for="txtEmailOffice">Office Email:</label>
                <div class="col-md-5 col-xs-5">
                    <input type="text" class="k-textbox" style="height: 28px; width: 100%;" name="txtEmailOffice" id="txtEmailOffice" required/>
                    <span style="font-style: italic;">Your official email address</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-xs-12">
        <ul class="list-group centerAlign ">
            <li class="list-group-item">
                <button id="btnResetPass" class="btn btn-primary" type="button">Submit</button>
                <button id="btnCancelForgotPass" class="btn btn-primary" type="button">Cancel</button>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-12 col-xs-12">
        <h5 style="text-decoration: underline;">Please Follow this instruction:</h5>
        <ul style="font-weight:bold; font-family: Calibri; font-style: italic;">
            <li>Enter your Employee ID & Official Email. </li>
            <li>Submit for getting new password.</li>
            <li>A new password will be send to this email address.</li>
            <li>Use this password for login. Please change password after login.</li>
        </ul>
    </div>
</div>



