@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<script src="~/Scripts/Common/Login/UserProject.js"></script>
<button id="btnMerhcandising">Merchandising</button>