@Scripts.Render("~/Scripts/Land/LandInfo/LandInfoSummary.js")

<div class="panel panel-default bs-example">
    <div class="well well-sm">
        Land Information Summary
    </div>
    <div class="panel-body">
        <button class="k-button" id="btnAddNew"><span class="fa fa-plus"></span> Add New</button>
        <div class="spacer4"></div>
        <div id="grdLandMasterSummary">
        </div>
    </div>
</div>

