
@Scripts.Render("~/Scripts/Land/LandReport/LandReportSummary.js")

<div class="panel panel-default bs-example">
    @*<div class="well well-sm">
        Land Mutation Summary
    </div>*@

    <div class="panel-body">
        <div>
            <a class="btn btn-success" id="OwnerLoadMutationReport1" style="margin-bottom:3px;">Print Report</a>
        </div>
        <div id="grdLandSummaryOwnerMutation"></div>
    </div>

</div>

