

@Scripts.Render("~/Scripts/Land/LandReport/LandReportSummary.js")

<div class="panel panel-default bs-example">
    <div class="well well-sm">
        Land Summary: District Wise Single
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col-md-2 col-xs-2">
                <button class="k-button" id="btnShowSummaryDistrictSingle" style="width:100px">Show Summary</button>
            </div>
        </div>
    </div>

    <div class="panel-body">
        <div id="grdLandSummaryDistrictWiseSingle"></div>
    </div>
</div>
