

@Scripts.Render("~/Scripts/Land/LandReport/LandReportSummary.js")

<div class="panel panel-default bs-example">

    <div class="panel-body">
        <div>
            <a class="btn btn-success" id="LoadDistrictMutationReport" style="margin-bottom:3px;">Print Report</a>
        </div>
        <div id="grdLandMutationSummaryDistrict"></div>
    </div>

</div>


