
@Scripts.Render("~/Scripts/Land/LandReport/LandReportSummary.js")

<div class="panel panel-default bs-example">
    <div class="well well-sm">
        Land Summary: All File & Deed & Owner & Mouza Wise Summary
    </div>

    <div class="panel-body">
        <div>
            <a class="btn btn-success" id="LoadReportFile" style="margin-bottom:3px;">Print Report</a>
        </div>
        <div id="grdLandSummaryFileDeedOwnerMouzaCommon"></div>
    </div>
</div>


