

@Scripts.Render("~/Scripts/Land/LandReport/LandReportSummary.js")

<div class="panel panel-default bs-example">
    <div class="well well-sm">
        Land Summary: District Wise
    </div>
    
    <div class="panel-body">
        <div>
            <a class="btn btn-success" id="LoadAllDistrictReport" style="margin-bottom:3px;">Print Report</a>
        </div>
        <div id="grdLandSummaryDistrictWise"></div>
    </div>
</div>
