@Scripts.Render("~/Scripts/Land/LandReport/LandReportSummary.js")

<div class="panel panel-default bs-example">
    <div class="well well-sm">
        Land Summary: Owner Wise
    </div>

    <div class="panel-body">
        <div>
            <a class="btn btn-success" id="LoadOwnerReport" style="margin-bottom:3px;">Print Report</a>
        </div>
        <div id="grdLandSummaryAllOwner"></div>
    </div>
</div>


