

@Scripts.Render("~/Scripts/Land/LandReport/LandReportSummary.js")

<div class="panel panel-default bs-example">
    <div class="well well-sm">
        Land Summary: Mouza
    </div>
    <div class="panel-body">
        <div>
            <a class="btn btn-success" id="MouzaLoadReport1" style="margin-bottom:3px;">Print Report</a>
        </div>
        <div id="grdLandSummaryMouza1"></div>
    </div>

</div>
