
@Scripts.Render("~/Scripts/Land/LandReport/LandReportSummary.js")

<div class="panel panel-default bs-example">
    <div class="well well-sm">
        Land Summary: Company Common
    </div>

    <div class="panel-body">
        <div id="grdLandSummaryCompany"></div>
    </div>

</div>


