
@Scripts.Render("~/Scripts/Land/LandReport/LandReportSummary.js")

<div class="panel panel-default bs-example">
    <div class="well well-sm">
        Land Summary: Owner Single
    </div>

    <div class="panel-body">
        <div>
            <a class="btn btn-success" id="OwnerLoadReport1" style="margin-bottom:3px;">Print Report</a>
        </div>
        <div id="grdLandSummaryOwner"></div>
    </div>

</div>

