

@Scripts.Render("~/Scripts/Land/LandReport/LandReportSummary.js")

<div class="panel panel-default bs-example">
    <div class="well well-sm">
        Land Summary: District
    </div>

    <div class="panel-body">
        <div>
            <a class="btn btn-success" id="LoadReportDistrict1" style="margin-bottom:3px;">Print Report</a>
        </div>
        @*<div id="grdLandSummaryDistrict"></div>*@
        <div id="grdLandSummaryDistrict1"></div>
    </div>

</div>
