
@Scripts.Render("~/Scripts/Land/LandReport/LandReportSummary.js")

<div class="panel panel-default bs-example">
    <div class="well well-sm">
        Land Summary: Person Common
    </div>
   
    <div class="panel-body">
        <div id="grdLandSummaryPerson"></div>
    </div>

</div>



