
@Scripts.Render("~/Scripts/LEGAL/Petitioner/PetitionerSummary.js")
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="bs-example">
            <div class="well well-sm">
                Petitioner Information
            </div>
            <div class="panel-body">
                <div id="grdPetitionerSummary">
                </div>
            </div>
        </div>
    </div>
</div>


