@Scripts.Render("~/Scripts/INVENTORY/FloorRtnRcvInfo/FloorRtnRcvSummary.js")

<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="bs-example">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <ul id="pnlMasterInfo">
                            <li class="k-state-active">
                                FLOOR RETURN PENDING LIST FOR RECEIVE
                                <div>
                                    <div id="grdPendingFloorReturnList"></div>
                                </div>
                            </li>
                            <br />
                            <li class="k-state-active">
                                FLOOR RETURN RECEIVE SUMMARY
                                <div>
                                    <div class="spacer5"></div>
                                    <div id="grdFloorRtnRcvSummary"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>