@{
    ViewBag.Title = "Inventory Requisition";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Scripts/INVENTORY/InventoryRequisition/InvRequisitionSettings.js")

<div class="row">
    <div id="divRequisitionSummary" class="col-lg-12">
        @Html.Partial("../INVENTORY/InventoryRequisition/_InvRequisitionSummary")
    </div>
    <div id="divRequisitionDetails" class="col-lg-12 displayNone">
        @Html.Partial("../INVENTORY/InventoryRequisition/_InvRequisitionDetails")
    </div>
</div>

<div class="displayNone" id="popupStyleSearch">
    @Html.Partial("../INVENTORY/InventoryRequisition/_StyleListSearch")
</div>

