
@Scripts.Render("~/Scripts/MERCHN/Currency/CurrencySummary.js")
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="bs-example">
            <div class="well well-sm">
                Currency Information
            </div>
            <div class="panel-body">
                <div id="grdCurrencySummary">
                </div>
            </div>
        </div>
    </div>
</div>
