@Scripts.Render("~/Scripts/Land/CmnUpozila/CmnUpozilaSummary.js")
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="bs-example">
            <div class="well well-sm">
                Upozila Information Summary
            </div>
            <div class="panel-body">
                <div id="grdCmnUpozilaSummary">
                </div>
            </div>
        </div>
    </div>
</div>

