@Scripts.Render("~/Scripts/Land/CmnDivision/CmnDivisionSummary.js")
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="bs-example">
            <div class="well well-sm">
                Division Information Summary
            </div>
            <div class="panel-body">
                <div id="grdCmnDivisionSummary">
                </div>
            </div>
        </div>
    </div>
</div>

@*Test*@