@Scripts.Render("~/Scripts/MERCHN/FabricTypes/FabricTypeSummary.js")
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="bs-example">
            <div class="well well-sm">
                Fabric Type Information
            </div>
            <div class="panel-body">
                <div id="grdFabricTypeSummary">
                </div>
            </div>
        </div>
    </div>
</div>


