@Scripts.Render("~/Scripts/MERCHN/Size/SizeSummary.js")
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="bs-example">
            <div class="well well-sm">
                Size Information
            </div>
            <div class="panel-body">
                <div id="grdSizeSummary">
                </div>
            </div>
        </div>
    </div>
</div>

