@Scripts.Render("~/Scripts/INVENTORY/SubContractReturnInfo/SubContractReturnSummary.js")

<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="bs-example">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <ul id="pnlMasterInfo">
                            <li class="k-state-active">
                                SUB CONTRACT RETURN SUMMARY
                                <div>
                                    <button class="k-button" id="btnAddNew"><span class="fa fa-plus"></span> Add New</button>
                                    @*<div class="spacer5"></div>*@
                                    <div id="grdSubContractReturnSummary"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>