@Scripts.Render("~/Scripts/COMMERCIAL/ComInvoice/CommercialInvoiceSummary.js")

<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="bs-example">
            <div class="well well-sm">
                Commercial Invoice Summary
            </div>
            <div class="panel-body">
                <div id="grdCommercialInvoiceSummary">
                </div>
            </div>
        </div>
    </div>
</div>