@Scripts.Render("~/Scripts/TRANSPORT/RTACircleOffice/RTACircleOfficeSummary.js")
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="bs-example">
            <div class="well well-sm">
                RTA Circle Office Information
            </div>
            <div class="panel-body">
                <div id="grdOfficeSummary">
                </div>
            </div>
        </div>
    </div>
</div>
