@Scripts.Render("~/Scripts/Land/LandDevelopmentTaxView/LandDevTaxInfoSummary.js")
<div class="panel panel-default bs-example">
    <div class="well well-sm">
        Land Development Tax Summary
    </div>
    <div class="panel-body">
        <div class="spacer4"></div>
        <div id="grdLandDevTaxSummary"></div>
    </div>
</div>



