
@{
    ViewBag.Title = "Land Development Tax View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .row {
        margin-bottom: 5px;
    }
</style>

<link href="~/Scripts/NewsTicker/ticker-style.css" rel="stylesheet" />
<script src="~/Scripts/NewsTicker/jquery.ticker.js"></script>
@Scripts.Render("~/Scripts/Land/LandDevelopmentTaxView/LandDevTaxInfoSettings.js")

<div class="row">
    <div id="divLandDevTaxInfoSummary" class="col-lg-12">
                @Html.Partial("../Land/LandDevelopmentTaxView/_LandDevTaxInfoSummary")
    </div>

    <div id="divLandDevTaxInfoDetails" class="col-lg-12 displayNone">
        @Html.Partial("../Land/LandDevelopmentTaxView/_LandDevTaxInfoDetails")
    </div>
</div>

