@Scripts.Render("~/Scripts/TRANSPORT/VehicleModel/VehicleModelSummary.js")
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="bs-example">
            <div class="well well-sm">
                Vehicle Model Information
            </div>
            <div class="panel-body">
                <div id="grdModelSummary">
                </div>
            </div>
        </div>
    </div>
</div>

