
@Scripts.Render("~/Scripts/LEGAL/File_Type/FileTypeSummary.js")
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="bs-example">
            <div class="well well-sm">
                File Type Information
            </div>
            <div class="panel-body">
                <div id="grdFileTypeSummary">
                </div>
            </div>
        </div>
    </div>
</div>

