@Scripts.Render("~/Scripts/LEGAL/File_Type/FileTypeDetails.js")
<div class="bs-example">
    <div class="well well-sm">File Type Details</div>
    <div id="menuDetailsDiv" class="row">
        <div class="col-md-12 col-xs-12">
            <div class="form-horizontal">
                <div class="row">
                    <div class="form-group">
                        <input type="hidden" id="hdnFileTypeId" value="0" />
                        <label class="col-md-4 col-xs-4 control-label" for="txtFileType">File Type:</label>
                        <div class="col-md-6 col-xs-6">
                            <input type="text" placeholder="File Type" name="txtFileType" id="txtFileType" class="form-control" required validationmessage="*" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 col-xs-4 control-label" for="txtFileTypeNo">File Type No:</label>
                        <div class="col-md-6 col-xs-6">
                            <input type="text" placeholder="File Type No" name="txtFileTypeNo" id="txtFileTypeNo" class="form-control" />
                        </div>
                    </div>
                </div>                
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <ul class="list-group ">
                            <li class="list-group-item centerAlign">
                                <button id="btnSave" class="btn btn-primary" type="button">Save</button>
                                <button id="btnClearAll" class="btn btn-primary">Clear</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

