
@Scripts.Render("~/Scripts/MERCHN/BrandDepartment/BrandDepartmentSummary.js")
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="bs-example">
            <div class="well well-sm">
                Department Information
            </div>
            <div class="panel-body">
                <div id="grdDepartmentSummary">
                </div>
            </div>
        </div>
    </div>
</div>

