@Scripts.Render("~/Scripts/Land/FileCodeInfo/FileCodeInfoSummary.js")
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="bs-example">
            <div class="well well-sm">
                FileCode Information Summary
            </div>
            <div class="panel-body">
                <div id="grdFileCodeSummary">
                </div>
            </div>
        </div>
    </div>
</div>
