
@{
    ViewBag.Title = "Vehicle Condition Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/Scripts/TRANSPORT/VehicleCondition/VehicleConditionSettings.js")
<div class="row">
    <div id="divConditionDetails" class="col-md-12">
        @Html.Partial("../TRANSPORT/VehicleCondition/_VahicleConditionDetails")
        @Html.Partial("../TRANSPORT/VehicleCondition/_VahicleConditionSummary")
    </div>
</div>


