
@Scripts.Render("~/Scripts/LEGAL/Court_Info/CourtInfoSummary.js")
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="bs-example">
            <div class="well well-sm">
                Court Information
            </div>
            <div class="panel-body">
                <div id="grdCourtInfoSummary">
                </div>
            </div>
        </div>
    </div>
</div>

