<script src="~/Scripts/TRANSPORT/VehicleRoute/VehicleRouteSummary.js"></script>
<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="bs-example">
            <div class="well well-sm">
                Route Summary
            </div>
            <div class="panel-body">
                <div id="grdRouteSummary">
                </div>
            </div>
        </div>
    </div>
</div>



