
@Scripts.Render("~/Scripts/LEGAL/Case_File/CaseFileSummary.js")

<div class="panel panel-default bs-example">
    <div class="well well-sm">
        Case File Information
    </div>
    <div class="panel-body">
        <button class="k-button" id="btnAddNew"><span class="fa fa-plus"></span> Add New</button>
        <div class="spacer4"></div>
        <div id="grdCaseFileSummary">
        </div>
    </div>
</div>

