@Scripts.Render("~/Scripts/Land/MutationLandInformations/LandMutationInformationSummary.js")

<div class="panel panel-default bs-example">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="spacer5"></div>
            <div class="well well-sm text-center">Mutation Land Info</div>
            <div id="gridMutationInfoSummary"></div>
        </div>
    </div>
</div>
<script id="template" type="text/x-kendo-template">
    <label for="template" style="border:1px solid;border-color: \#93c8df;margin-left:8px;border-radius:4px;Height:24px;padding:2px;"> Total Land: <span class="" id="spnGrandTtl"></span> (Acr) </label><br>
    <label for="template" style="border:1px solid;border-color: \#93c8df;margin-left:8px;border-radius:4px;Height:24px;padding:2px;"> Mutated Total: <span class="" id="spnUnmutatedTtl"></span> (Acr) </label><br>
</script>
