@Scripts.Render("~/Scripts/INVENTORY/FloorIssue/FloorIssueSummary.js")

<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="bs-example">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <ul id="pnlMasterInfo">
                            <li class="k-state-active">
                                FLOOR REQUISITION PENDING LIST WAITING FOR ISSUE
                                <div>
                                    <div id="grdPendingFloorRequisitionList"></div>
                                </div>
                            </li>
                            <br />
                            <li class="k-state-active">
                                FLOOR ISSUE SUMMARY
                                <div>
                                    <div class="spacer5"></div>
                                    @*<button class="k-button" id="btnAddNew"><span class="fa fa-plus"></span> Add New</button>*@
                                    <div id="grdFloorIssueSummary"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
