<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
    <style>
        table.blueTable {
            border: 1px solid #1C6EA4;
            background-color: #EEEEEE;
            width: 100%;
            text-align: left;
            border-collapse: collapse;
        }

            table.blueTable td, table.blueTable th {
                border: 1px solid #AAAAAA;
                padding: 3px 2px;
            }

            table.blueTable tbody td {
                font-size: 15px;
                vertical-align: middle;
                text-align: center;
            }

                table.blueTable tbody td.tdText {
                    text-align: left;
                    padding-left: 10px;
                }

            table.blueTable tr:nth-child(even) {
                background: #D0E4F5;
            }

            table.blueTable thead {
                background: #1C6EA4;
                background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
                background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
                background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
                border-bottom: 2px solid #444444;
            }

                table.blueTable thead th {
                    font-size: 15px;
                    font-weight: bold;
                    color: #FFFFFF;
                    border-left: 2px solid #D0E4F5;
                }

                    table.blueTable thead th:first-child {
                        border-left: none;
                    }

            table.blueTable tfoot td {
                font-size: 14px;
            }

            table.blueTable tfoot .links {
                text-align: right;
            }

                table.blueTable tfoot .links a {
                    display: inline-block;
                    background: #1C6EA4;
                    color: #FFFFFF;
                    padding: 2px 8px;
                    border-radius: 5px;
                    text-align: right;
                }

        .button1 {
            background-color: #4E9CAF;
            padding: 5px 12px;
            margin: 5px;
            color: #fff;
            text-align: center;
            border: 0;
            cursor: pointer;
            border-radius: 3px;
            display: block;
            text-decoration: none;
            font-weight: 400;
            transition: all .3s ease-out !important;
            -webkit-transition: all .3s ease-out !important;
        }
    </style>
    <h4>Source Code Download :<a style="color:blue;" href="https://payhip.com/ashproghelp" target='blank'>https://payhip.com/ashproghelp</a></h4>


    <table class="blueTable">
        <thead>
            <tr style="text-align: center;">
                <th>SL.No</th>
                <th>Source Code Title (Click For Video)</th>
                <th>Count</th>
                <th>Download</th>
            </tr>
        </thead>
        <tbody>
            <!--<tr>
                <td>01</td>
                <td class='tdText'><a style="color:blue;" href="#" target='blank'>ASP.NET Core</a></td>
                <td>$2.00</td>
                <td><a class='button1' href="#" target='blank'>Visit</a></td>
            </tr>-->
        </tbody>
    </table>

    <div>
        <div class="cardProduct" title='Cookie Authentication ASP.NET CORE'>
            <div class="payhip-embed-page" data-key="GlutA">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='CRUD Operations Using .NET 5.0 Web API'>
            <div class="payhip-embed-page" data-key="748UX">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='Generate PDF Report in ASP.NET Core Web API'>
            <div class="payhip-embed-page" data-key="kE8D">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='How to Create RDLC Report in ASP.NET Core'>
            <div class="payhip-embed-page" data-key="8ZkP">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='How to Upload Large File or Image in ASP.NET Core'>
            <div class="payhip-embed-page" data-key="QXk7">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='Securing Web API using JWT | WEB API CRUD'>
            <div class="payhip-embed-page" data-key="2XfI">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='Call Web API With Bearer Token From ASP.NET Core'>
            <div class="payhip-embed-page" data-key="eOcY">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='Logging With Serilog in .NET 5 Web Application'>
            <div class="payhip-embed-page" data-key="LZt7">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='How to Implement Captcha in ASP.NET Core'>
            <div class="payhip-embed-page" data-key="lgGf">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='Paging in .NET Core Web API'>
            <div class="payhip-embed-page" data-key="4v86">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='Export As Excel or CSV File in ASP.NET Core'>
            <div class="payhip-embed-page" data-key="L2bX">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='Entity Framework Core Bulk insert, update and delete using Asp.Net Core 3.0'>
            <div class="payhip-embed-page" data-key="dsWX">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='Role Based Authorization in ASP.NET Core 3.0'>
            <div class="payhip-embed-page" data-key="sLqd">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='Dapper CRUD in ASP.NET Core WEB API'>
            <div class="payhip-embed-page" data-key="j6iC">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='REST API CRUD (ASP.NET CORE)'>
            <div class="payhip-embed-page" data-key="xuJ1">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='File/Image Upload using Web API'>
            <div class="payhip-embed-page" data-key="FHyP">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='JWT Authentication in ASP.NET Core 3.0 Web API'>
            <div class="payhip-embed-page" data-key="obSB">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='Create ASP.NET Core Web Application with WordPress'>
            <div class="payhip-embed-page" data-key="TAGs">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='Complete Package : Complete CRUD using ASP.NET Core Web API (Including JWT Auth) and Vue JS 3'>
            <div class="payhip-embed-page" data-key="hj0QP">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='JWT Authentication ASP.NET Core Web API'>
            <div class="payhip-embed-page" data-key="hBLAM">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='How to Read and Import data of Uploaded Excel into SQL Server Database || ASP.NET Core || EF Core'>
            <div class="payhip-embed-page" data-key="vUdIf">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='Scheduling and Executing Background Jobs in ASP.NET Core || Web API || #Hangfire'>
            <div class="payhip-embed-page" data-key="qEt8a">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>

        <div class="cardProduct" title='Using Stored Procedure CRUD Operations with Entity Framework Core || ASP.NET Core'>
            <div class="payhip-embed-page" data-key="Cn02a">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='BULK CRUD Operations using Entity Framework Core || ASP.NET Core'>
            <div class="payhip-embed-page" data-key="eJLGt">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='Using SQL Server HierarchyId with Entity Framework Core || ASP.NET Core'>
            <div class="payhip-embed-page" data-key="cCb9D">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='Dynamic XML File Generate in ASP.NET Core'>
            <div class="payhip-embed-page" data-key="lD2ST">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>

        <div class="cardProduct" title='CRUD Operation using MongoDB and ASP.NET Core Simple Example [For Beginner]'>
            <div class="payhip-embed-page" data-key="CObZ2">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='Complete Inventory Management System || ASP.NET Core || EF Core || Angular'>
            <div class="payhip-embed-page" data-key="mcHdp">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='PDF Upload and Download from SQL Server || ASP.NET Core || EF Core'>
            <div class="payhip-embed-page" data-key="HSdV">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='How to Create and Upload CSV File || Read CSV File || CsvHelper || ASP.NET Core'>
            <div class="payhip-embed-page" data-key="Nleb">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>

        <div class="cardProduct" title='GraphQL Mutation Query || Basic CRUD Example || ASP.NET Core'>
            <div class="payhip-embed-page" data-key="yzK1">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='GraphQL with Entity Framework Core || Basic Example || ASP.NET Core'>
            <div class="payhip-embed-page" data-key="9SM7">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='GraphQL Basic Setup || Basic Example || ASP.NET Core'>
            <div class="payhip-embed-page" data-key="SPLq">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='ASP.NET Core PDF Viewer || PDF Upload || 100% Free'>
            <div class="payhip-embed-page" data-key="dIM1">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>

        <div class="cardProduct" title='Swagger Upload And Retrieve Image Example || Web API || ASP.NET Core'>
            <div class="payhip-embed-page" data-key="3S28">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='Implement Auto Scheduler in ASP.NET Core || Quartz'>
            <div class="payhip-embed-page" data-key="CvnK">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='Swagger Basic Authentication [ASP.NET Core]'>
            <div class="payhip-embed-page" data-key="PAJj">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='PDF Report - Print Stickers or Tags using ASP.NET Core'>
            <div class="payhip-embed-page" data-key="XJUg">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>

        <div class="cardProduct" title='Change Default Start Page (Views or Razor) of ASP.NET Core Project'>
            <div class="payhip-embed-page" data-key="YR0z">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='ASP.NET Core Dependency Injection [Constructor Injection] Example'>
            <div class="payhip-embed-page" data-key="p4Iw">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='Create and Use Custom Server Side Validation Attribute in ASP.NET Core'>
            <div class="payhip-embed-page" data-key="fudC">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='Creating or Generating Microsoft Excel Report From Object List [ASP.NET Core]'>
            <div class="payhip-embed-page" data-key="CoG4">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>

        <div class="cardProduct" title='Image Reader from Directory using ASP.NET Core [Basic Tutorial] | Image Loader or Viewer'>
            <div class="payhip-embed-page" data-key="8w59">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='ASP.NET Core Dependency Injection [Method Injection] Example'>
            <div class="payhip-embed-page" data-key="6R8n">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='ASP.NET Core Dependency Injection [Property Injection] Example'>
            <div class="payhip-embed-page" data-key="2z71">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='Create And Use User Secrets in ASP.NET Core [Secret Key Generate]'>
            <div class="payhip-embed-page" data-key="jQwF">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>

        <div class="cardProduct" title='Creating AutoPostBack Tag Helper using ASP.NET Core'>
            <div class="payhip-embed-page" data-key="o32v">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='Uploading Multiple Files using Drag and Drop Operation [ASP.NET Core]'>
            <div class="payhip-embed-page" data-key="IKi0">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='Uploading Large File or Image using ASP.NET Core [Example]'>
            <div class="payhip-embed-page" data-key="tuGs">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='Swagger Web API Versioning with Group By | ASP.NET Core Web API | Swashbuckle'>
            <div class="payhip-embed-page" data-key="BeZj">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>

        <div class="cardProduct" title='User Registration With Email and Email Confirmation or Validation | ASP.NET Core Web API'>
            <div class="payhip-embed-page" data-key="c4wR">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='Uploading And Reading Excel File using ASP.NET Core MVC'>
            <div class="payhip-embed-page" data-key="tVCS">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='Apply Notification like Facebook in ASP.NET Core MVC | Complete Example | IkrNotificationLibrary'>
            <div class="payhip-embed-page" data-key="FuLg">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='Password Hash and Verify using BCrypt | Web API | ASP.NET Core'>
            <div class="payhip-embed-page" data-key="T3bH">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>

        <div class="cardProduct" title='JWT Token based Auth in ASP.NET Core | Web API Calling | JSON Web Token'>
            <div class="payhip-embed-page" data-key="c4HM">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='Dapper CRUD using ASP.NET Core Web API and Store Procedure'>
            <div class="payhip-embed-page" data-key="xsVC">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='Full CRUD using Consuming API - Calling Web API from MVC [ASP.NET Core]'>
            <div class="payhip-embed-page" data-key="hP8b">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='Combine XML And JSON Requests Format | ASP.NET Core Web API'>
            <div class="payhip-embed-page" data-key="vW7Q">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>

        <div class="cardProduct" title='Cookies Authentication in ASP.NET Core MVC'>
            <div class="payhip-embed-page" data-key="04Jc">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='Use Generic Type Controller and Interface (Repository Pattern) | ASP.NET Core Web API | Basic CRUD'>
            <div class="payhip-embed-page" data-key="AywF">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='Dapper CRUD Executing Multiple Queries on Multiple Objects [ASP.NET Core Web API]'>
            <div class="payhip-embed-page" data-key="GN0i">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='Protect or Secure Data in ASP.NET Core | IDataProtector [Basic Example]'>
            <div class="payhip-embed-page" data-key="HFna">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>

        <div class="cardProduct" title='Generate PDF Report with Image in ASP.NET Core Project'>
            <div class="payhip-embed-page" data-key="Y71w">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='SignalR Chatting Example [Real-Time Programming] | ASP.NET Core'>
            <div class="payhip-embed-page" data-key="iOev">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='Password Encrypt and Decrypt Operation | Signup and Login | ASP.NET Core Web API'>
            <div class="payhip-embed-page" data-key="d9Dz">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='Convert HTML to PDF in ASP.NET Core [Free Package]'>
            <div class="payhip-embed-page" data-key="LKIi">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>

        <div class="cardProduct" title='Convert HTML to Doc File in ASP.NET Core [Free Package]'>
            <div class="payhip-embed-page" data-key="Nxr4">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='Sending Mail from Outlook or LIVE or Hotmail | ASP.NET Core'>
            <div class="payhip-embed-page" data-key="h1K3">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='Generating QR Code using ASP.NET Core'>
            <div class="payhip-embed-page" data-key="jHmK">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='CRUD using Basic BULK Operations in ASP.NET Core (Two Processes)'>
            <div class="payhip-embed-page" data-key="O8rL">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>

        <div class="cardProduct" title='Dapper Free Bulk Insert Example [ASP.NET Core]'>
            <div class="payhip-embed-page" data-key="8Pji">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='Data Bulk Copy From Table to Table [ASP.NET Core] | SQL Server'>
            <div class="payhip-embed-page" data-key="3tLx">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='ASP.NET Core MVC - Save and Display Image/Photo From Database (SQL Server)'>
            <div class="payhip-embed-page" data-key="ypKE">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='Web API - Uploading File/Image into Project Directory [Latest Tutorial] | ASP.NET Core'>
            <div class="payhip-embed-page" data-key="3Gzb">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>

        <div class="cardProduct" title='DataTable - CRUD using EF Core and Web API | ASP.NET Core | Paging | Sorting'>
            <div class="payhip-embed-page" data-key="xg35">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='CRUD using Entity Framework Core and Web API (Swagger) | ASP.NET Core'>
            <div class="payhip-embed-page" data-key="CRjS">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='ASP.NET Core PDF Upload and Download from MongoDB || NoSQL || .NET 5.0'>
            <div class="payhip-embed-page" data-key="pbOMd">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='ASP.NET Core Bulk CRUD Operations using MongoDB || NoSQL || .NET 5.0'>
            <div class="payhip-embed-page" data-key="UTv3F">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>

        <div class="cardProduct" title='Save and Display Image/Photo || ASP.NET Core with MongoDB || NoSQL || .NET 5.0'>
            <div class="payhip-embed-page" data-key="KDMPh">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='ASP.NET Core with MongoDB || Complete CRUD || MongoDB Compass || NoSQL || .NET 5.0'>
            <div class="payhip-embed-page" data-key="F9wWS">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='ASP.NET Core : Quick PDF Generator || Short Trick'>
            <div class="payhip-embed-page" data-key="R0jFo">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>
        <div class="cardProduct" title='Read And Save Excel Data into SQL Server using Entity Framework Core || Blazor || BCL'>
            <div class="payhip-embed-page" data-key="gZXM">...</div>
            <script type="text/javascript" src="https://payhip.com/embed-page.js?v=24u68984"></script>
        </div>


    </div>


</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        var sourcePlayLists = [
            {
                Name: "ASP.NET Core",
                URL: ""
            },
             {
                 Name: "ASP.NET Core Web API",
                 URL: ""
             },
             {
                 Name: "ASP.NET MVC",
                 URL: ""
             },
             {
                 Name: "Blazor",
                 URL: ""
             },
             {
                 Name: "Entity Framework Core",
                 URL: ""
             },
             {
                 Name: "Vue JS 3",
                 URL: ""
             },
             {
                 Name: "MongoDB",
                 URL: ""
             },
             {
                 Name: "CRUD Operations",
                 URL: ""
             },
             {
                 Name: "Desktop Application",
                 URL: ""
             },
             {
                 Name: "Authentication & Authorization",
                 URL: ""
             },
             {
                 Name: "Reporting PDF",
                 URL: ""
             },
             {
                 Name: "Reporting Excel",
                 URL: ""
             },
             {
                 Name: "Crystal Report",
                 URL: ""
             }, {
                 Name: "RDLC Report",
                 URL: ""
             },
             {
                 Name: "SQL Server",
                 URL: ""
             },
             {
                 Name: "C#",
                 URL: ""
             },
             {
                 Name: "File / Image Upload",
                 URL: ""
             },
             {
                 Name: "Others",
                 URL: ""
             },
             {
                 Name: "Kendo UI jQuery",
                 URL: ""
             },
             {
                 Name: "JavaScript & jQuery",
                 URL: ""
             },
             {
                 Name: "Bootstrap",
                 URL: ""
             },
             {
                 Name: "Xamarin",
                 URL: ""
             }
        ];

        sourcePlayLists = sourcePlayLists.sort((a, b) => a.Name.localeCompare(b.Name));

        var sl = 0;
        sourcePlayLists.map(x => {
            sl++;
            var temp = "<tr>";
            temp += "<td>" + sl + "</td>";
            temp += "<td class='tdText'><a style='color:blue;' href='" + x.URL + "' target='blank'>" + x.Name + "</a></td>";
            temp += "<td>" + 0 + "</td>";
            temp += "<td><a class='button1' href='" + x.URL + "' target='blank'>Visit</a></td>";
            $(".blueTable tbody").append(temp);
        });
    });
</script>
